<div id="scrumboardView" class="span5" ng-controller="scrumboardController">
    <h3>Stories:</h3>
    <a href="/details/{{story.Id}}" ng-repeat="story in stories">
        <div class="story" >
            <h4>{{story.Title}}</h4>
            <p>{{story.Description}}</p>
        </div>
    </a>
</div>
<div id="chatView" class="span7" ng-controller="chatController">
    <h3>Chat:</h3>
    <div class="row">
        <div class="span7">
            <textarea rows="20" disabled="disabled" class="span7" ng-model="messages"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="span7">
            <form class="form-inline" ng-submit="sendMessage()">
                <div class="controls controls-row">
                    <input type="text" class="span5" placeholder="type here to chat" ng-model="chatMessage">
                    <button class="btn span2" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>