<div id="storyDetailView" class="span8">
    <form class="form-horizontal" ng-submit="saveStory()">
        <div class="control-group">
            <label class="control-label">Title</label>
            <div class="controls">
                <input type="text" class="input-block-level" ng-model="story.Title" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Description</label>
            <div class="controls">
                <textarea rows="5" class="input-block-level" ng-model="story.Description"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">State</label>
            <div class="controls">
                <select ng-model="story.State" ng-options="state for state in states"></select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Stack Rank</label>
            <div class="controls">
                <input type="text" class="input-block-level" ng-model="story.StackRank"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a class="btn" href="/scrumboard">back to Scrumboard</a>
                <button class="btn btn-primary" type="submit">Save Story</button>
            </div>
        </div>
    </form>
</div>